{# unused at the moment, need feedback #}

<div id="edit-pagepart-modal{{ id }}" class="modal modal--edit hide fade">
<div class="modal-header">
   <button class="close" data-dismiss="modal">&times;</button>
   <h3>Edit {{ pagePartType }}</h3>
</div>
<div class="modal-body">
{{ content }}
</div>
<div class="modal-footer">
   <div class="btn_group">
       <button type="button" id="" onclick="closeModal({{ id }})" class="btn btn-primary">Ok</button>
   </div>
</div>
</div>
